<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="hotelModel" class="form-horizontal" (ngSubmit)="createHotel(hotelModel.value)">

              <div class="form-group">
                <label for="name" class="col-xs-2">Name</label>
                <div class="col-xs-6">
                    <input class="form-control" placeholder="Name" formControlName="name"/>
                    <span [hidden]="!hotelModel.hasError('required', 'name')">Name is required..</span>
                    <span [hidden]="!hotelModel.hasError('minlength', 'name')">At least 2 characters in length</span>
                </div>
              </div>

                <div class="form-group">
                    <label for="address" class="col-xs-2">Address</label>
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Address" formControlName="address"/>
                        <span [hidden]="!hotelModel.hasError('required', 'address')">Address is Required..</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zip" class="col-xs-2">Zip</label>

                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Zip" formControlName="zip"/>
                       <span [hidden]="!hotelModel.hasError('required', 'zip')">Zip is required..</span>
                    </div>
                </div>
            

            <input type="submit" class="btn btn-primary" value="Submit"/>
            <a [routerLink]="['/list']">List Hotels</a>
        </form>
    </div>
</div>
